* {
    box-sizing: border-box;
    margin: 0;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
    height: 800px;
    background-color: rgb(74, 71, 71);
    
}

.sidebar {
    height: 500px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px green solid;
}

.grid-container {
    display: grid;
    border: 1px red solid;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    background-color: white;
}

